.blocklyTreeRoot {
  margin: 0;
  padding: 0;
}

.blocklyToolboxDiv {
  background: #ffffff;
  box-shadow: 2px 0 2px #ccc;
  border-left: 1px solid #ccc;
  width: 8em;
  cursor: pointer;
}

.blocklyTreeRow {
  height: 1.2em;
  line-height: 1.2em;
  font-size: 2.5em;
  margin: 0;
  /* padding-left: 2em solid red; */
}

.blocklyTreeRow.blocklyTreeSelected {
  transition: .5s all linear;
}

.blocklyFlyout {
  /* background-color: rgba(255, 255, 255, .1); */
  /* border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; */
}

.blocklyFlyoutBackground {
  fill-opacity: .4;
}